<div class="menu-add">
    <h1>{{ ln.gallery_new_size }}</h1>
    <form action="{{ url }}" class="form-horizontal" method="POST">
        {% for field in fields %}
            <div class="form-group{% if field.error %} has-error{% endif %}">
                <label class="col-lg-2 control-label" for="{{ field.name }}"><strong>{{ field.title }}</strong> {% if field.required %}<span class="red">*</span>{% endif %}</label>
                <div class="col-lg-10">{{ field.html }}</div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-lg-10">
                <input type="hidden" name="task" value="save" />
                <input type="hidden" name="session_id" value="{{ session_id }}" />
                <button class="btn btn-default" type="submit">{{ ln.gallery_save }}</button>
                <button class="btn btn-default" type="button" onclick="history.back();">{{ ln.gallery_cancel }}</button>
            </div>
        </div>
    </form>
</div>