<div class="menu-add">
    <h1>{{ ln.menueditor_newitem }}</h1>
    <form action="{{ url }}" class="form-horizontal" method="POST" enctype="multipart/form-data">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">{{ ln.menueditor_main_params }}</a></li>
            {% if sectionParameters %}
                <li><a href="#tab2" data-toggle="tab">{{ ln.menueditor_section_params }}</a></li>
            {% endif %}
            {% if componentParameters %}
                <li><a href="#tab3" data-toggle="tab">{{ ln.menueditor_component_params }}</a></li>
            {% endif %}
            {% if sectionModules %}
                <li><a href="#tab4" data-toggle="tab">{{ ln.menueditor_section_modules }}</a></li>
            {% endif %}
        </ul>
        <div class="itemedit-controls">
            <input type="hidden" name="menu_id" value="{{ menu.id }}"/>
            <input type="hidden" name="component" value="{{ component }}" />
            <input type="hidden" name="task" value="saveitem"/>
            <button class="btn btn-info" type="submit">{{ ln.menueditor_save }}</button>
            <button class="btn" type="button" onclick="history.back();">{{ ln.menueditor_cancel }}</button>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="control-group">
                    <label class="control-label"><strong>{{ ln.menueditor_menu }}</strong></label>
                    <div class="controls">
                        <span class="input-xlarge uneditable-input">{{ menu.title }}</span>
                    </div>
                </div>
                <div class="control-group{% if messages.items_empty_title %} error{% endif %}">
                    <label class="control-label" for="title"><strong>{{ ln.menueditor_title }}</strong></label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="title" name="title" value="{{ menuItem.title }}">
                    </div>
                </div>
                <div class="control-group{% if messages.items_alias_exists %} error{% endif %}{% if messages.items_alias_system %} error{% endif %}">
                    <label class="control-label" for="alias"><strong>{{ ln.menueditor_alias }}</strong></label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="alias" name="alias" value="{{ menuItem.alias }}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="parent_id"><strong>{{ ln.menueditor_parent }}</strong></label>
                    <div class="controls">
                        <select name="main_parent_id" id="parent_id">
                            <option value="0">** {{ ln.menueditor_empty_choice }} **</option>
                            {% for item in parentList %}
                                <option value="{{ item.id }}"{% if item.selected %} selected="selected"{% endif %}>{{ item.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="active"><strong>{{ ln.menueditor_active }}</strong></label>
                    <div class="controls">
                        <input type="checkbox" class="input-xlarge" id="active" name="active" value="1" checked="checked">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="visible"><strong>{{ ln.menueditor_visible }}</strong></label>
                    <div class="controls">
                        <input type="checkbox" class="input-xlarge" id="visible" name="visible" value="1" checked="checked">
                    </div>
                </div>
            </div>
            {% if sectionParameters %}
                <div class="tab-pane" id="tab2">
                    {% for param in sectionParameters %}
                        <div class="control-group">
                            <label class="control-label" for="{{ param.name }}"><strong>{{ param.title }}</strong></label>
                            <div class="controls">{{ param.html }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if componentParameters %}
                <div class="tab-pane" id="tab3">
                    {% for param in componentParameters %}
                        <div class="control-group">
                            <label class="control-label" for="{{ param.name }}"><strong>{{ param.title }}</strong></label>
                            <div class="controls">{{ param.html }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if sectionModules %}
                <div class="tab-pane" id="tab4">
                    {% for module in sectionModules %}
                        <div class="control-group">
                            <label class="control-label" for="mod{{ module.id }}">{{ module.title }}</label>
                            <div class="controls">
                                <input type="checkbox" name="modules[]" id="mod{{ module.id }}" value="{{ module.id }}" {% if module.selected %}checked="checked"{% endif %} />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </form>
</div>