<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>{{ ln.install_title }}</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="/install/components/builder/assets/css/main.css"/>
    <script type="text/javascript" src="/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap-alert.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.alert').alert();
            $('.close').click(function(){
                $(this).parents('.alert').alert('close');
            });
        });
    </script>
</head>
<body>
<div class="container">
    {{ messages }}
    <div class="page-header">
        <h1>{{ ln.install_config_step1 }} <small>{{ ln.install_config_step1_desc }}</small></h1>
    </div>
    <form class="form-horizontal" action="/install/" method="GET">
        <fieldset>
            <legend>{{ ln.install_config_db }}</legend>
            {% for field in dbFields %}
                <div class="control-group{% if field.error %} error{% endif %}">
                    <label class="control-label" for="{{ field.name }}">{{ field.title }} {% if field.required %}<span class="red">*</span>{% endif %}</label>
                    <div class="controls">{{ field.html }}</div>
                </div>
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>{{ ln.install_config_theme }}</legend>
            <div class="control-group">
                <label class="control-label" for="theme">{{ ln.install_config_theme_site }}</label>
                <div class="controls">
                    {% if siteThemes %}
                    <select name="theme" id="theme">
                        {% for theme in siteThemes %}
                        <option value="{{ theme }}">{{ theme }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="admintheme">{{ ln.install_config_theme_admin }}</label>
                <div class="controls">
                    {% if adminThemes %}
                    <select name="admintheme" id="admintheme">
                        {% for theme in adminThemes %}
                        <option value="{{ theme }}">{{ theme }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="control-group">
            <div class="controls">
                <a href="/install/" class="btn">{{ ln.install_config_back }}</a>
                <input type="hidden" name="task" value="setConfig" />
                <button type="submit" name="view" value="config" class="btn btn-info">{{ ln.install_config_continue }} <i class="icon icon-arrow-right icon-white"></i></button>
            </div>
        </div>
    </form>
</div>
</body>
</html>