<!DOCTYPE HTML>
<html>
<head>
    <title>{{ documentTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ documentDescription }}">
    <meta name="keywords" content="{{ documentKeywords }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap3/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/templates/default/css/main.css" />
    {% for c in css %}<link rel="stylesheet" href="{{ c }}"/>{% endfor %}
    <script type="text/javascript" src="/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap3/js/bootstrap.min.js"></script>
    {% for j in js %}<script type="text/javascript" src="{{ j }}"></script>{% endfor %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="container">
            {{ upmenu }}
        </div>
        {{ slider }}
        <div class="col-md-12">{{ title }}</div>
        <div class="col-md-3">
            {{ leftmenu }}
            {{ search }}
        </div>
        <div class="col-md-6">
            {{ pathline }}
            {{ component }}
            {{ social }}
        </div>
        <div class="col-md-3">
            {{ right }}
        </div>
    </div>
</body>
</html>