<select name="{{ param.name }}" id="{{ param.name }}" class="form-control">
    <option value="">-- {{ ln.core_not_selected }}</option>
    {% for option in param.options %}
    <option value="{{ option.value }}" {% if option.selected %}selected="selected"{% endif %}>{{ option.title }}</option>
    {% endfor %}
</select>