<!DOCTYPE html>
<html>
<head>
    <title>{{ documentTitle }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap3/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/admin/templates/bootstrap3/css/main.css" />
    {% for c in css %}<link rel="stylesheet" href="{{ c }}"/>{% endfor %}
    <script type="text/javascript" src="/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/admin/templates/bootstrap3/js/popup-message.js"></script>
    <script type="text/javascript" src="/admin/templates/bootstrap3/js/list.js"></script>
    {% for j in js %}<script type="text/javascript" src="{{ j }}"></script>{% endfor %}
</head>
<body>

<div class="container main">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/">SamCMS 0.2.4</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            {{ upmenu }}
            {{ user }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ leftmenu }}
            {{ lefttext }}
        </div>
        <div class="col-md-10">
            {{ messages }}
            {{ component }}
        </div>
    </div>
    <div class="container"></div>
</div>
</body>
</html>
