<div class="menu-add">
    <h1>{{ ln.gallery_edit_photo }}</h1>
    <form action="{{ url }}" class="form-horizontal" method="POST" enctype="multipart/form-data">
        <div class="control-group">
            <label class="control-label">ID</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ image_id }}</span>
            </div>
        </div>
        {% for field in fields %}
            <div class="control-group{% if field.error %} error{% endif %}">
                <label class="control-label" for="{{ field.name }}"><strong>{{ field.title }}</strong> {% if field.required %}<span class="red">*</span>{% endif %}</label>
                <div class="controls">{{ field.html }}</div>
            </div>
        {% endfor %}
        <div class="control-group">
            <div class="controls">
                <input type="hidden" name="task" value="update" />
                <input type="hidden" name="session_id" value="{{ session_id }}"/>
                <input type="hidden" name="image_id" value="{{ image_id }}" />
                <button class="btn" type="submit">{{ ln.gallery_save }}</button>
                <button class="btn" type="button" onclick="history.back();">{{ ln.gallery_cancel }}</button>
            </div>
        </div>
    </form>
</div>