<!DOCTYPE html>
<html>
<head>
    <title>{{ documentTitle }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap/css/bootstrap-responsive.css" />
    <link type="text/css" rel="stylesheet" href="/admin/templates/default/css/main.css" />
    {% for c in css %}<link rel="stylesheet" href="{{ c }}"/>{% endfor %}
    <script type="text/javascript" src="/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap-alert.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/admin/templates/default/js/popup-message.js"></script>
    <script type="text/javascript" src="/admin/templates/default/js/list.js"></script>
    {% for j in js %}<script type="text/javascript" src="{{ j }}"></script>{% endfor %}
</head>
<body>
<div class="navbar navbar-i navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/admin/">SamCMS 0.2.4</a>
            {{ upmenu }}
            {{ user }}
        </div>
    </div>
</div>
<div class="container main">
    <div class="row">
        <div class="span2">
            {{ leftmenu }}
            {{ lefttext }}
        </div>
        <div class="span10">
            {{ messages }}
            {{ component }}
        </div>
    </div>
    <div class="container"></div>
</div>
</body>
</html>