<div class="menu-add">
    <h1>{{ ln.forms_edit_form }}</h1>
    <form action="{{ url }}" class="form-horizontal" method="POST" role="form">
        <div class="form-group">
            <label class="col-lg-2 control-label">ID</label>
            <div class="col-lg-10">
                <span class="form-control uneditable-input">{{ form_id }}</span>
            </div>
        </div>
        {% for field in fields %}
            <div class="form-group{% if field.error %} has-error{% endif %}">
                <label class="col-lg-2 control-label" for="{{ field.name }}"><strong>{{ field.title }}</strong> {% if field.required %}<span class="red">*</span>{% endif %}</label>
                <div class="col-lg-10">{{ field.html }}</div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input type="hidden" name="task" value="update" />
                <input type="hidden" name="form_id" value="{{ form_id }}"/>
                <button class="btn btn-default" type="submit">{{ ln.forms_save }}</button>
                <button class="btn btn-default" type="button" onclick="history.back();">{{ ln.forms_cancel }}</button>
            </div>
        </div>
    </form>
</div>