<script type="text/javascript">
    $(document).ready(function(){
        $('#{{ param.name }}_datepicker').datepicker();
        $('#{{ param.name }}_time').timepicker({
            minuteStep: 1,
            showSeconds: true,
            showMeridian: false
        });
        $('form').submit(function(){
            var value = $('#{{ param.name }}_date').val() + ' ' + $('#{{ param.name }}_time').val();
            $('#{{ param.name }}').val(value);

            return true;
        });
    })
</script>

<div class="input-group date col-lg-3" id="{{ param.name }}_datepicker" data-date="{{ param.date }}" data-date-format="dd.mm.yyyy">
    <input class="form-control" size="16" type="text" id="{{ param.name }}_date" value="{{ param.date }}" readonly="readonly">
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>
<div class="input-group bootstrap-timepicker col-lg-3">
    <input id="{{ param.name }}_time" type="text" class="form-control" value="{{ param.time }}">
    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
</div>

<input type="hidden" id="{{ param.name }}" name="{{ param.name }}" value="" />