<div class="menu-add">
    <h1>{{ ln.menueditor_editmenu }} <small>{{ menu.title }}</small></h1>
    <form action="{{ url }}" class="form-horizontal" method="POST">
        <div class="form-group">
            <label class="col-lg-2 control-label" for="title">ID</label>
            <div class="col-lg-4">
                <span class="form-control uneditable-input">{{ menu.id }}</span>
            </div>
        </div>
        <div class="form-group{% if menu_empty_title %} error{% endif %}">
            <label class="col-lg-2 control-label" for="title">{{ ln.menueditor_title }}</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="title" name="title" value="{{ menu.title }}">
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <input type="hidden" name="menu_id" value="{{ menu.id }}">
                <input type="hidden" name="task" value="save" />
                <button class="btn btn-default" type="submit">{{ ln.menueditor_save }}</button>
                <button class="btn btn-default" type="button" onclick="history.back();">{{ ln.menueditor_cancel }}</button>
            </div>
        </div>
    </form>
</div>