<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ln.install_title }}</title>
    <link rel="stylesheet" href="/lib/bootstrap3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/install/components/builder/assets/css/main.css"/>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <div class="container">
            <h1>{{ ln.install_done_congratulations }}</h1>
            <p>{{ ln.install_done_finish }}</p>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-lg btn-success" href="/">{{ ln.install_done_site }}</a>
        <a class="btn btn-lg btn-success" href="/admin/">{{ ln.install_done_admin }}</a>
    </div>
</div>
</body>
</html>
